
   p {font-size: 25px;
     width: 1300px;
     margin: auto; }
   h1{font-size: 60px;}
   h2{font-size: 53px;}
   h3{font-size: 48px;}
   h4{font-size: 43px;}

img{ margin:275px;}

  h1 {
    font-size: 80px;
width: 100px;
margin: auto;

}
h2 {
width: 500px;
margin: auto;

}
h3 {
width:540px;
margin: auto;

}
h4 {
width: 540px;
margin: auto;

}
h5 {
width: 540px;
margin: auto;
}
